@font-face {
  font-family: "Whyte";
  src: url("../../fonts/Whyte-Regular.woff2");
  font-weight: 400;
  /* font-style: normal; */
}
@font-face {
  font-family: "Whyte";
  src: url("../../fonts/Whyte-Regular.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Whyte";
  src: url("../../fonts/Whyte-Regular.woff2");
  font-weight: 700;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whyte', sans-serif;
}
a {
    color: #5551ff;
    text-decoration: none;
}
body{
      display: flex;
      justify-content: center;
      align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: 500;
    height: 48px;
    background: #000000;
    border-radius: 8px;
    margin-bottom: 15px;  
    transition: all .4s;
    border: 0;
}

.logout:hover {
    transform: translateY(-2px);  
    transition: all .4s;
}

.logout:active{
    transform: translateY(-1px); 
    transition: all .2s;
}
.welcome{
      margin: 0;
    font-weight: 300;
    font-size: 32px;
    color: black;
    margin-bottom: 35px;
}

.email{
      margin-bottom: 23px;
      font-size: 21px;
      color: black;
      text-decoration: none;
}